name: Python Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install playwright

      - name: Install Playwright Browsers
        run: playwright install --with-deps

      - name: Start Flask app
        run: |
          export PYTHONPATH="${GITHUB_WORKSPACE}"
          echo "GITHUB_WORKSPACE=$GITHUB_WORKSPACE"
          pwd
          ls -la
          nohup python src/page.py > app.log 2>&1 &
          echo $! > app.pid

      - name: Wait for app to be ready
        run: |
          for i in {1..60}; do
            if curl -fsS http://127.0.0.1:8000/health >/dev/null; then
              echo "App is up!"
              exit 0
            fi
            sleep 1
          done
          echo "App did not start"
          tail -200 app.log || true
          exit 1
      # Flask example:



      - name: Run Tests
            # We use 'always()' so the report generates even if tests fail

        if: always()
        run: |
          export PYTHONPATH="${GITHUB_WORKSPACE}"
          pwd
          ls -la
          pytest --browser chromium --env=local  --alluredir=allure-results
        env:
        # Pass your .env variables from GitHub Secrets
          BASE_URL: ${{ secrets.BASE_URL }}

      - name: Set up Node (for Allure 3 CLI)
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Generate Allure report
        if: always()
        run: |
          npx --yes allure generate allure-results --clean -o allure-report
    

      - name: Upload Allure report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: allure-report