name: Python Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Start Flask app
        run: |
          nohup python src/page.py > app.log 2>&1 &
          echo $! > app.pid

      - name: Wait for app to be ready
        run: |
          for i in {1..60}; do
            if curl -fsS http://127.0.0.1:5000/health >/dev/null; then
              echo "App is up!"
              exit 0
            fi
            sleep 1
          done
          echo "App did not start"
          tail -200 app.log || true
          exit 1
      # Flask example:

      - name: Install Playwright Browsers
        run: playwright install --with-deps

      - name: Run Tests
            # We use 'always()' so the report generates even if tests fail
        if: always()
        run: pytest --browser chromium --env=local
        env:
        # Pass your .env variables from GitHub Secrets
          BASE_URL: ${{ secrets.BASE_URL }}

      - name: Get Allure history
        uses: actions/checkout@v4
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages

      - name: Generate Allure Report
        uses: simple-elf/allure-report-action@master
        if: always()
        with:
          allure_results: tests/allure-results
          allure_history: allure-history
          keep_reports: 20

      - name: Deploy report to Github Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: allure-history
